<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Tomcat</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <context-param>
    <param-name>servletContext-name</param-name>
    <param-value>servletContext-value</param-value>
  </context-param>
  <servlet>
    <servlet-name>StudyServlet</servlet-name>
    <servlet-class>com.milan.servlet.StudyServlet</servlet-class>
    <init-param>
      <param-name>author</param-name>
      <param-value>Clark</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudyServlet</servlet-name>
    <url-pattern>/StudyServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>servletContextTest</servlet-name>
    <servlet-class>com.milan.servlet.servletContextTest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>servletContextTest</servlet-name>
    <url-pattern>/servletContextTest</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>servletContextSetValue</servlet-name>
    <servlet-class>com.milan.servlet.servletContextSetValue</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>servletContextSetValue</servlet-name>
    <url-pattern>/servletContextSetValue</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ServletContextGetValue</servlet-name>
    <servlet-class>com.milan.servlet.ServletContextGetValue</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletContextGetValue</servlet-name>
    <url-pattern>/ServletContextGetValue</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ServletContextSetValue</servlet-name>
    <servlet-class>com.milan.servlet.ServletContextSetValue</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletContextSetValue</servlet-name>
    <url-pattern>/ServletContextSetValue</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ResponseServlet</display-name>
    <servlet-name>ResponseServlet</servlet-name>
    <servlet-class>com.milan.response.ResponseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ResponseServlet</servlet-name>
    <url-pattern>/ResponseServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ResponseWriterDemo</display-name>
    <servlet-name>ResponseWriterDemo</servlet-name>
    <servlet-class>com.milan.response.ResponseWriterDemo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ResponseWriterDemo</servlet-name>
    <url-pattern>/ResponseWriterDemo</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RequestDemo</servlet-name>
    <servlet-class>com.milan.request.RequestDemo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RequestDemo</servlet-name>
    <url-pattern>/requestDemo/RequestDemo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SendCookieServlet</display-name>
    <servlet-name>SendCookieServlet</servlet-name>
    <servlet-class>com.milan.cookie.SendCookieServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SendCookieServlet</servlet-name>
    <url-pattern>/SendCookieServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RemoveServlet</display-name>
    <servlet-name>RemoveServlet</servlet-name>
    <servlet-class>com.milan.cookie.RemoveServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RemoveServlet</servlet-name>
    <url-pattern>/RemoveServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetCookieServlet</display-name>
    <servlet-name>GetCookieServlet</servlet-name>
    <servlet-class>com.milan.cookie.GetCookieServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetCookieServlet</servlet-name>
    <url-pattern>/GetCookieServlet</url-pattern>
  </servlet-mapping>
</web-app>